@import "../../bower/neat/app/assets/stylesheets/neat-helpers";

//
// Breakpoints
//
// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// Large screen / wide desktop
$screen-xl:                  1400px;
$screen-xl-min:              $screen-lg;

// Large screen / wide desktop
$screen-xxl:                  1600px;
$screen-xxl-min:              $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);
$screen-xl-max:              ($screen-xxl-min - 1);

$screen-br-xs: new-breakpoint(min-width $screen-xs);
$screen-br-sm: new-breakpoint(min-width $screen-sm);
$screen-br-md: new-breakpoint(min-width $screen-md);
$screen-br-lg: new-breakpoint(min-width $screen-lg);
$screen-br-xl: new-breakpoint(min-width $screen-xl);
$screen-br-xxl: new-breakpoint(min-width $screen-xxl);

//
// Grid
//
// $grid-columns: 12;
// $column: 60px;
// $gutter: 10px;
// $max-width: 960px;
// $visual-grid: true;


//
// Colors
//
$black-color: #000;
$link-color: $black-color;
$background-color: #fff;

//
// Type
//
$font-family: $helvetica;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1010;
$zindex-tooltip:           1030;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;
